*{
    margin: 0 px;
    padding: 0 px;

}

.warning > p {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:3rem;
}
.container1 {
  
    padding-left: 20rem;
    padding-right:20rem;
    background-color: beige;
    font-weight: bold;
    border: solid beige;
    
}

.submit{
	background-color: #87f18e;
}
.topic{
    font-size: 50px;
    font-weight: bold;
    font-family:serif;
	
}
.box{
    resize: none;

}

.form-container {
	

	background-color: #e4e0e8;
	display: flex;
   	justify-content: center;
	align-items: center;
}
.upload-files-container {
	background-color: #f7fff7;
	
    border: solid;
	display: flex;
   	align-items: center;
   	justify-content: center;
	flex-direction: column;
	
}
.drag-file-area {

	
	margin: 10px 0 15px;
	padding: 30px 50px;
	width: 350px;
	text-align: center;
}
.drag-file-area .upload-icon {
	font-size: 50px;
}
.drag-file-area h3 {
	font-size: 26px;
	margin: 15px 0;
}
.drag-file-area label {
	font-size: 19px;
}
.drag-file-area label .browse-files-text {
	color: #bf732c;
	font-weight: bolder;
	cursor: pointer;
}
.browse-files span {
	position: relative;
	top: -25px;
}
.default-file-input {
	opacity: 0;
}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 10px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}

.cannot-upload-message span, .upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #f7fff7;
	background-color: #7b2cbf;
  	transition: all 1s;
	width: 390px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	
	cursor: pointer;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file-icon {
	margin-right: 10px;
}
.file-name, .file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}
.progress-bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;

	background-color: #4BB543;
}
.upload-button {
	font-family: 'Montserrat';
	background-color: #efc45e;
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	margin: 10px;
	cursor: pointer;
}
@media (max-width: 768px){
    .container1{
        padding:0px;
        margin:0px;
    }
}
@media (max-width: 1000px){
    .container1{
        padding:0px;
        margin:0px;
    }
}